 @font-face { font-family: Mordred; src: url('Mordred.ttf'); } 
 @font-face { font-family: Mordred; font-weight: bold; src: url('Mordred-Bold.ttf');}
 html, body { height: 100%;}
  h1 { 
      font-family: Mordred, sans-serif!important; 
      font-weight: bold!important;
  }
  


.container {
    height: 100%;
    width: 100%!important;
        .row {
            width: 100%;
            height: calc(100%/7);
            // position: absolute;
            border-bottom: 1px solid black;
        img { 
            position:relative;
            width: 5em;
            float:left;
            &:hover {
                width:10em;
                z-index: 99;
                top: -4em;
                left: -2em;
                margin-right: -5em;
            }
        }
        i {
            font-size: 5em;
        }
        div {
            height: 100%;
        }
    }
}
