 @font-face { font-family: Mordred; src: url('Mordred.ttf'); } 
 @font-face { font-family: Mordred; font-weight: bold; src: url('Mordred-Bold.ttf');}
 html, body { height: 100%;}
  h1 { 
      font-family: Mordred, sans-serif!important; 
      font-weight: bold!important;
  }
  


.container {
 height: 100%;
 width: 100%!important;
 .row {
   width: 100%;
   height: calc(100%/7);
   // position: absolute;
   border-bottom: 1px solid black;
   img {
     width: calc(100%/10);
   }
 }
}